<% provide(:title, 'About') %>
<div class="col-sm-12">
	<h2>About HK Equities</h2>
	<p>HK Equities is a free service for discovering financial data on Hong Kong-listed stocks. At present, we offer the free email notification service for new company regulatory announcements. But we hope to offer more features in the future. Please <%= link_to("drop us a line", contact_path) %> with any queries or feature requests!</p>
</div>