<% provide(:title, 'Contact') %>
<div class="col-sm-12">
	<h2>Contact</h2>
	<p>You may contact me (John Heroy), the creator of this website, by <a href="mailto:johnheroy@gmail.com" target="__blank">sending me an email</a> and I will get back to you shortly! Thank you. </p>
</div>