<h2 class="latest-announcements">Latest Announcements</h2>
<div >
  <!-- Default panel contents -->

  <!-- Table -->
  <table id="announcements-table" class="table table-striped">
  	<thead>
  		<tr>
  			<th>#</th>
	    	<th>Ticker</th>
	    	<th>Company</th>
	    	<th>Date</th>
	    	<th>Announcement</th>
	    	<th>Link</th>
	    </tr>
	  </thead>
	  <tbody id="announcements-body">
	    <tr>
	    	<td>1</td>
	    	<td>01299.HK</td>
	    	<td>AIA Group</td>
	    	<td>May 5, 2014</td>
	    	<td>Takeover of Prudential Malaysia</td>
	    	<td><span>(link)</span></td>
	    </tr>
	    <tr>
	    	<td>2</td>
	    	<td>01299.HK</td>
	    	<td>AIA Group</td>
	    	<td>May 5, 2014</td>
	    	<td>Takeover of Prudential Malaysia</td>
	    	<td>(link)</td>
	    </tr>
	    <tr>
	    	<td>3</td>
	    	<td>01299.HK</td>
	    	<td>AIA Group</td>
	    	<td>May 5, 2014</td>
	    	<td>Takeover of Prudential Malaysia</td>
	    	<td>(link)</td>
	    </tr>
	  </tbody>
  </table>
</div>