<h2>Latest Announcements (refreshed every minute)</h2>
<div >
  <!-- Default panel contents -->

  <!-- Table -->
  <table id="announcements-table" class="table table-striped">
  	<thead>
  		<tr>
  			<th>#</th>
	    	<th>Ticker</th>
	    	<th>Company</th>
	    	<th>Date</th>
	    	<th>Time</th>
	    	<th>Announcement</th>
	    	<th>Link</th>
	    </tr>
	  </thead>
	  <tbody id="announcements-body">
	  </tbody>
  </table>
</div>