<h2>HKEx Listed Companies</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Company Name</th>
			<th>Ticker</th>
		</tr>
	</thead>
<% Company.order(:hk_ticker).each do |coy| %>
	<tbody>
		<tr>
			<td><%= link_to coy.name, coy %></td>
			<td><%= coy.ticker %></td>
		</tr>
	</tbody>
<% end %>
</table>
