<h2><%= @coy.name %> (<%= @coy.ticker %>)</h2>

<h3>Latest Announcements</h3>
<table id="announcements-table" class="table table-striped">
	<thead>
		<tr>
		<th>#</th>
    	<th>Ticker</th>
    	<th>Company</th>
    	<th>Date</th>
    	<th>Time</th>
    	<th>Announcement</th>
    	<th>Link</th>
    </tr>
  </thead>
  <tbody id="announcements-body">
  	<% @coy.announcements.each do |annc| %>
  	<tr>
  		<td>#</td>
  		<td><%= </td>
  	</tr>
  </tbody>
</table>


