/* general */

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.container-fluid {
  max-width: 888px;
}

.navbar {
	border: 0px;
	border-radius: 0px;
}

.navbar-inverse {
  background-color: #2E0854;
}

#logo {
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

#sign_up_box {
  max-width: 400px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 2px solid lightgray;
  color: gray;
  a {
    color: gray;
    &:hover {
      color: black;
    }
  }
  small {
    float: left;
    font-size: 12px;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;

}

/* tables */

table#latest-ten {
  thead { 
    tr {
      display: block;
      position: relative;
      max-width: 100%;
    }
    display: block;
    width: 100%;
  }

  tbody {
    display: block;
    height: 388px;
    overflow: scroll;
    font-size: 12px;
    width: 100%;
  }

  .latest-ordering {
    width: 5%;
  }

  .latest-time {
    width: 13%;
  }

  .latest-company {
    width: 25%;
  }

  .latest-ticker {
    width: 10%;
  }

  .latest-announcement {
    width: 40%;
  }

  .latest-link {
    width: 5%;
  }
}

table#company-index {
  thead {
    tr {
      display: block;
      position: relative;
      max-width: 100%;
    }
    display: block;
    width: 100%;
  }

  tbody {
    display: block;
    height: 388px;
    overflow: scroll;
    font-size: 13px;
    width: 100%;
    tr {
      height: 20px;
    }
  }

  
  .company-index-name {
    width: 100%;
  }

  .company-index-ticker {
    width: 100%;
  }

}

