<div class="col-sm-3">
	<h4>About HK Equities</h4>
	<p>HK Equities is a near real-time notification service for Hong Kong Stock Exchange (HKEx) listed company announcements. <br><br> Are you a capital markets or M&amp;A banker, investor, or corporate PR person who needs to be notified right after your company's announcement hits the exchange?</p><br>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>